/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* Global styles */
html { background:#eee url('/sites/all/themes/diorama/images/bg.jpg') repeat-x left top; }
body{
	font:81.25% "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0px auto;
	width:978px;

}
a {text-decoration:none;}
h1 { font-size:28px; margin-bottom:24px; clear:both;}
h2 { font-size:22px; }
h3 {font-size:18px;}
p { margin:12px 0; }
#node-1 p { margin:0; font-size:1.25em; line-height:1.5em;  color:#333; }

/*Header*/
#header { height:118px; }
#sitename { 
background:url("/sites/all/themes/diorama/images/logo_w400.png") repeat-x 0 0 transparent;
	float:left;
	height:65px;
	margin:10px 0 0px;
	width:400px;
	position:relative;
	left:10px;
	z-index:100;
}
#sitename h1 a { color:transparent; display:block; width:292px; height:44px;}
#block-menu-menu-sn-links{ position:absolute; margin:24px 0 0 819px; }
#block-menu-menu-sn-links h2 { display:none; }
#block-menu-menu-sn-links li { display:inline;  padding:0 0px 10px 0;}
#block-menu-menu-sn-links li a { color:transparent; padding-bottom:0px; }
#block-menu-menu-sn-links li.Facebook { background:url("/sites/all/themes/diorama/images/fb.png") no-repeat 0 0; margin-right:-38px;
}
#block-menu-menu-sn-links li.LinkedIn { background:url("/sites/all/themes/diorama/images/linkedin.png") no-repeat 0 0;  margin-right:-29px;
}
#block-menu-menu-sn-links li.Twitter { background:url("/sites/all/themes/diorama/images/twitter.png") no-repeat 0 0; 
margin-right:-21px;
}
#block-menu-menu-sn-links li.YouTube { background:url("/sites/all/themes/diorama/images/youtube.png") no-repeat 0 0;
}
#search-box { 
	float:right; 
	margin-right:24px;
}
#search-box  label { display:none; }
#search-box input { font-size:14px; }
#search-box #edit-submit:hover { 
	background: #eee;  /* #5E0525; */
	color:black;
	border:none;
	cursor:pointer;
	border:1px solid black;
}
#search-box #edit-submit {
	background:black;
	color:white;
	border:1px solid white;
	padding:3px 10px 3px 13px;
} 
#primary{ 
	margin-left:18px;  
	margin-top:18px;
	float:left; 
	clear:left;
}
#primary li { float:left; margin-right:-14px; }
#primary a { 
	font-size:14px; 
	padding:8px 16px; 
	color:#fefefe;
	font-weight:bold;
	letter-spacing:1px;
	background:transparent  /*#5E0525*/;
}
#primary a:hover, #primary li.active-trail a  {
	background:#fefefe; color:black;
}

/*Homepage styles*/
body.front #page-title {display:none;}
#node-1 { 
	margin:0;  
	padding:14px 20px;
	background:white;
	color:#5E0525;
	position:absolute;
	left:-5000em;
	z-index:2;
	-webkit-box-shadow:0px 0px 12px #ccc;
	-moz-box-shadow:0px 0px 12px #ccc;
	z-index: 3;
}
body.front iframe { margin-top:24px; }

/*Homepage blocks*/
#block-views-homepage_slideshow-block_1{
	margin:0 24px;
}
#block-views-homepage_slideshow-block_1 h2 {display:none;}
#block-views-homepage_slideshow-block_1 p {
	float:right; 
	width:315px; 
	padding:6px 10px; 
	background: #eee; 
	margin-top:-66px;
	margin-right:8px;
	position:relative;
	opacity:0.85;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#block-views-diorama_projects-block_1 { 
	margin-top:-40px;
	margin-left:23px;
	padding-bottom:12px;
	width:932px;
}
#block-views-diorama_projects-block_1 h2 {  
	border-bottom:2px solid #9C9C31;
	padding-left:8px;
	padding-bottom:6px;
	position:absolute;
	left:-5000em;
}
#block-views-diorama_projects-block_1 .views-row {
	float:left;
	/*background:url(/sites/all/themes/diorama/images/project-bg.jpg) no-repeat left top;*/
	margin-right:12px;
	width:210px;
	padding:12px 12px 12px 0;
	position:relative;
	z-index:3;
}
#block-views-diorama_projects-block_1 .views-row-last {
	margin-right:0px;
}
.views-field-field-project-thumb-fid { 
	float:left; 
	width:200px;
	height:140px;
	background:#222;
	margin-bottom:12px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.views-field-field-project-thumb-fid { 
		
	}
}

#block-views-diorama_news-block_1 { 
	margin:0 12px 0 24px; 
	float:left; 
	width:460px;
	background: transparent;
	margin-bottom:24px;
	position:relative;
	z-index:2;
	background:transparent;
	border-right:1px dotted #999;
}
#block-views-diorama_news-block_1 .views-row {
	padding:12px 12px 0;
	margin-top:24px;
	opacity:0.9;
}
#block-views-diorama_news-block_1 a.see-all {
	padding: 12px;
	display: block;
	margin-top: 24px;
	text-align: right;
	font-weight:bold;
	font-size: 14px;
	color: #222;
	font-weight: normal;
	color:blue;
	background:transparent;
}
#block-views-diorama_news-block_1 a.see-all:hover {
	text-decoration: underline; 
}
body.front .views-field-view-node {
	padding:8px 0 12px;
	text-align:right;
}
body.front .views-field-view-node a { color:#333; font-weight:bold; }
body.front .views-field-view-node a:hover { text-decoration:underline; }
body.front .view-diorama-projects .views-field-title { 
	font-size:16px; 
	font-weight:bold; 
	color:#000; 
	background:rgba(255,255,255,0.5);
	text-transform: uppercase;
	padding:12px;;
	position:relative;
	top:140px;
}
body.front .views-field-title a {color:#000;}
#block-block-2 {background:white; position:absolute; left:0; width:100%; padding-left: 33%; box-shadow:0px 0px 12px red;}
#block-views-diorama_news-block_1 h2 {padding:7px 0 7px 14px; background:#ddd; border-top-left-radius: 25px;}

/* Other page styles */
#watermark { 				   
background: url('/sites/all/themes/diorama/images/watermark.png') no-repeat top left;
width: 488px;
height: 420px;
margin-top: -333px;
margin-left: -222px;
z-index: -2;
opacity: 0.033;
position:relative;
}
body.not-front p {
	position:relative;
	z-index:2;
}
.view-display-id-page_1 .views-row {
	border-bottom:1px dotted #aaa;
	padding:12px 0 0;
}
.view-display-id-page_1 .views-row.views-row-last { border-bottom:none; }
.view-display-id-page_1 .views-row .views-field-title a {
	font-size:16px;
	font-weight:bold;
	margin-bottom:12px;
	color:#222;
	display:block;
}
.view-display-id-page_1 .views-row .views-field-view-node a {
	color:#222;
	padding:12px 0;
	display:block;
	font-weight:bold;
}
.view-display-id-page_1 .views-row .views-field-view-node a:hover {
	text-decoration:underline;
}
body.not-front #container {
	padding:24px 40px; 
	min-height:300px;
	background:#fefefe;
	margin-bottom:24px;
	width: 854px;
	margin-left: 24px;
	box-shadow:0px 5px 10px #ddd;
}
#breadcrumb .breadcrumb{ float:left; margin-right:6px; }
#breadcrumb { font-family:verdana, sans-serif; font-size:12px; }

#footer {
	clear:both; 
	padding:24px; 
	text-align:center;
	background:transparent;
	width:100%;
}
#footer h2 { display:none; }
#block-menu-secondary-links { display:inline; text-align:center; }
#block-menu-secondary-links ul { text-align:center; }
#block-menu-secondary-links li { list-style:none; display:inline; }
#block-menu-secondary-links li a { color:#9c9c31; padding:3px 6px; font-size:14px;}
#block-menu-secondary-links li a:hover { background:#9c9c31; color:#fff;  }
#footer #block-block-1 strong {font-size:1.25em;}

/* Search results */
p.search-info, fieldset.search-advanced { display:none; }
dl.search-results {margin-top:12px;}
.search-results  dt { padding-bottom:6px; }
.search-results dd { border-bottom:1px dotted #ccc; padding-bottom:6px; }

/* Admin styles */
.tabs { 
	float:right;
	margin-top:-94px;
}
body.front .tabs { margin-top:-90px; margin-right:24px; position:relative; z-index:1000;}
.tabs ul li, #block-user-1 li {display:inline; background:white; padding:12px; border:1px solid #ccc;}
.tabs ul li.active {background:black;}
.tabs ul li.active a {color:white;}
#block-user-1 { position:absolute; top:6px; z-index:1000; }
#block-user-1 h2 {display:none;}